@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lora&family=Raleway&display=swap');

.main-container {
    margin: 0;
    background-color: #ECE9E0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Raleway', sans-serif, bold;
}

p {
    font-family: 'Raleway', sans-serif;
}

.secondary-container {
    margin: 50px;
    height: 90vh;
    background-color: #E6E5CF;
    border: solid white 4px;
    border-radius: 20px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -0.2vh 0.2vw 5px 5px;
}

.nav-container {
    position: fixed;
    border: solid black 1px;
    border-radius: 20px 20px 0px 0px;
    background-color: #DD9866;
    max-height: 15px;
    width: 93%;
    padding-top: 15px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.nav-container:hover {
    max-height: 800px;
    transition: max-height 1s ease;
}

.customers-container {
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.top-nav-button {
    border: none;
    padding: 0;
    color: #5C6E91;
    font-family: 'Lora', serif;
    font-size: 25px;
}

.record-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    row-gap: 4vh;
    justify-items: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkslategrey;
    border-radius: 20px;
    border: solid black 1px;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background:white;
    border-radius: 20px;
    border: solid black 1px;
}

.logout-button {
    position: absolute;
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    color: black !important;
}

